<section class="blur-card card shadow text-center max-w-md min-w-fit text-[#f5f5f5]">
    <div class="card-body">
        <h5 class="card-title text-xl">{{project.name}}</h5>
        <p class="card-text mb-3">{{project.summary}}</p>
        <button class="btn btn-primary bg-blueviolet">View More</button>
    </div>
    <div class="card-footer">
        <div class="d-flex flex-wrap justify-content-center">
            @for (tag of project.tags; track project.id) {
                <div class="tag me-2 mb-1">{{tag}}</div>
            }
        </div>
    </div>
</section>