<section class="blur-card card shadow text-center max-w-md min-w-md max-h-64 min-h-64 text-[#f5f5f5]">
    <div class="card-body">
        <h5 class="card-title text-xl">{{project.name}}</h5>
        <p class="card-text mb-3">{{project.summary}}</p>
        <button class="btn btn-primary bg-purple-900 border-none" (click)="OpenProjectModal()">View More</button>
    </div>
    <div class="card-footer">
        <div class="flex flex-wrap justify-center">
            @for (tag of project.tags; track $index) {
                <div class="tag ms-1 me-1 mb-1" [style.background-color]=tag.color>{{tag}}</div>
            }
        </div>
    </div>
</section>