//navigation
header {
    a, button {
        cursor: pointer;
    }
    
    a {
        svg {
            width: 44px;
            height: 44px;
        }
    }

    //to not influence third party links
    a:not(:has(svg)){
        border-bottom: 1px solid transparent;
        padding-bottom: 4px;
        transition: all .4s ease-in;

        &:hover, &.active {
            border-bottom: 1px solid var(--bcolor);
        }
    }

    a:has(svg){
        transition: all .4s ease-in-out;

        &:hover, &.active {
            transform: translateY(-5px);
        }
    }

    .logo {
        transition: all .3s ease-in;
        cursor: pointer;

        &:hover {
            transform: translateY(10px);
        }
    }
}