<div class="flex flex-col container align-center">
    <button (click)="DownloadFile()" class="btn btn-primary mb-5 p-3 text-xl shadow border w-50 self-center bg-[#8a2be2] hover:bg-orange-600">Download PDF Resume</button>

    <div class="pb-2">
        <accordion [isAnimated]="true" class="shadow">
            <accordion-group [(isOpen)]="isSummaryOpen">
                <button class="flex flex-row justify-between w-full items-center p-1 px-3" accordion-heading>
                    <div class="invisible">></div>
                    <h2>Summary</h2>
                    <div>
                        @if (!isSummaryOpen) {
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-auto" viewBox="0 0 448 512"><path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>
                        }
                        @if (isSummaryOpen) {
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-auto" viewBox="0 0 448 512"><path d="M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/></svg>
                        }
                    </div>
                </button>
                <p class="p-2">Front-End Engineer with 4+ years of experience in developing responsive user interfaces using modern JavaScript frameworks like
                    React and Angular, eager to learn Ember.js. Proficient in TypeScript, HTML, CSS, and Sass, with a strong focus on creating accessible
                    and user-centric designs. Experienced in agile methodologies, cross-functional collaboration, and DevOps practices, including CI/CD
                    pipelines. Passionate about applying my skills to build and maintain large-scale web applications for CrowdStrike's cybersecurity
                    mission, with a keen interest in contributing to stopping breaches.</p>
            </accordion-group>
            <accordion-group [(isOpen)]="isWorkExperienceOpen">
                <button class="flex flex-row justify-between w-full items-center p-1 px-3" accordion-heading>
                    <div class="invisible">></div>
                    <h2>Work Experience</h2>
                    <div>
                        @if (!isWorkExperienceOpen) {
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-auto" viewBox="0 0 448 512"><path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>
                        }
                        @if (isWorkExperienceOpen) {
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-auto" viewBox="0 0 448 512"><path d="M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/></svg>
                        }
                    </div>
                </button>
                <div>
                    <div class="flex flex-row justify-between mb-4 ml-2">
                        <h2 class="text-2xl font-semibold">Crew Member | Trader Joe's</h2>
                        <h3 class="text-lg">April 2024 - Current</h3>
                    </div>   
                    <ul class="mb-4">
                        <li>Efficiently managed store sections, ensuring 100% on-time openings while maintaining a friendly and flexible attitude.</li>
                        <li>Managed inventory for 150+ products, consistently driving daily sales of $10,000+ in the assigned section, representing a 15%
                            increase from previous performance.</li>
                        <li>Led a successful promotional campaign that resulted in top sales performance among all U.S. Trader Joe's locations, exceeding
                            targets by 510 units and increasing overall store revenue by 8%.</li>
                        <li>Provided outstanding customer service by sharing in-depth product knowledge and offering personalized recommendations
                            across 1000+ items, resulting in a 99% customer satisfaction rate.</li>
                        <li>Created a positive team environment using strong people skills, demonstrating reliability, and offering clear guidance to
                            colleagues. This approach improved team productivity by 20% and elevated service quality, as reflected in a 30% increase in
                            positive customer feedback.</li>
                    </ul>
                </div>
                <div>
                    <div class="flex flex-row justify-between mb-4 ml-2">
                        <h2 class="text-2xl font-semibold">Front End Developer / Designer | Stantec</h2>
                        <h3 class="text-lg">December 2021 - August 2023</h3>
                    </div>   
                    <ul class="mb-4">
                        <li>Spearheaded the development of a critical hospital emergency services app for NASCAR, leveraging cutting-edge professional
                            development tools to deliver real-time data for over 6,000 hospitals, resulting in a 30% improvement in emergency response
                            times.</li>
                        <li>Revamped Stantec's Digital Access Portal, addressing design inefficiencies and implementing innovative solutions that enhanced
                            user experience, leading to a 40% increase in user engagement and a 25% reduction in cybersecurity vulnerabilities.</li>
                        <li>Crafted and maintained multiple TypeScript-based web applications, consistently delivering projects on time while exceeding client
                            expectations. Achieved a 95% client satisfaction rate through attentive listening and adaptive problem-solving.</li>
                        <li>Led the development of 40+ version releases for web app themes, focusing on responsive design, accessibility, and mobile-first
                            approach. This resulted in an increase in mobile user retention and a 35% boost in overall app performance.</li>
                        <li>Adapted the implementation of DevOps protocols and CI/CD pipelines, optimizing team workflow and reducing code release
                            time by 30%. Integrated comprehensive unit testing and accessibility testing, resulting in a 75% decrease in post-release bug
                            reports.</li>
                        <li>Engineered and maintained enterprise SaaS solutions for integrated power companies, reinforcing Stantec's consulting reputation.
                            Achieved a 99.9% uptime for mission-critical systems and reduced client operational costs through efficient logistical information
                            management.</li>
                        <li>Pioneered the development of streamlined API to UI state management services, cutting production time by 45% and
                            incorporating cybersecurity techniques. This innovation led to a reduction in potential security breaches and improved overall
                            system reliability.</li>
                    </ul>
                </div>
                <div>
                    <div class="flex flex-row justify-between mb-4 ml-2">
                        <h2 class="text-2xl font-semibold">Front End Developer | City of Vancouver</h2>
                        <h3 class="text-lg">January 2019 - December 2019</h3>
                    </div>   
                    <ul class="mb-4">
                        <li>Developed a React application and website for the City of Vancouver, generating over $60,000 worth of promotional material and
                            increasing city event participation by 35%</li>
                        <li>Directed technical and artistic specifications for elements used in promotional material.</li>
                        <li>Collaborated with a diverse team of 30+ digital media specialists, committed to create engaging promotional materials
                            and websites.</li>
                        <li>Implemented responsive design principles to optimize user experiences and test web accessibility across various devices</li>
                    </ul>
                </div>
            </accordion-group>
            <accordion-group [(isOpen)]="isCertificationsOpen">
                <button class="flex flex-row justify-between w-full items-center p-1 px-3" accordion-heading>
                    <div class="invisible">></div>
                    <h2>Certifications</h2>
                    <div>
                        @if (!isCertificationsOpen) {
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-auto" viewBox="0 0 448 512"><path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>
                        }
                        @if (isCertificationsOpen) {
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-auto" viewBox="0 0 448 512"><path d="M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/></svg>
                        }
                    </div>
                </button>
                <div class="flex flex-row justify-between mb-4 ml-2">
                    <h2 class="text-2xl font-semibold">C# and .NET Essential Training | LinkedIn</h2>
                    <h3 class="text-lg">March 7th 2024</h3>
                </div>
                <div class="flex flex-row justify-between mb-4 ml-2">
                    <h2 class="text-2xl font-semibold">Learning C# | LinkedIn</h2>
                    <h3 class="text-lg">March 7th 2024</h3>
                </div>
                <div class="flex flex-row justify-between ml-2">
                    <h2 class="text-2xl font-semibold">C# and .NET Essential Training | LinkedIn</h2>
                    <h3 class="text-lg">March 5th 2024</h3>
                </div>
            </accordion-group>
            <accordion-group [(isOpen)]="isTechSkillsOpen">
                <button class="flex flex-row justify-between w-full items-center p-1 px-3" accordion-heading>
                    <div class="invisible">></div>
                    <h2>Technical Skills</h2>
                    <div>
                        @if (!isTechSkillsOpen) {
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-auto" viewBox="0 0 448 512"><path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>
                        }
                        @if (isTechSkillsOpen) {
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-auto" viewBox="0 0 448 512"><path d="M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/></svg>
                        }
                    </div>
                </button>
                <div class="text-lg p-2">
                    Angular CLI &nbsp;|&nbsp; React &nbsp;|&nbsp; Vue &nbsp;|&nbsp; JavaScript &nbsp;|&nbsp; TypeScript &nbsp;|&nbsp; Docker &nbsp;|&nbsp; Webpack &nbsp;|&nbsp; Jenkins &nbsp;|&nbsp; Artifactory &nbsp;|&nbsp; AWS &nbsp;|&nbsp; CSS3 &nbsp;|&nbsp; Tailwind CSS &nbsp;|&nbsp; CI/CD &nbsp;|&nbsp; 
                    DevOps &nbsp;|&nbsp; Python &nbsp;|&nbsp; C# &nbsp;|&nbsp; Responsive Design &nbsp;|&nbsp; Git &nbsp;|&nbsp; Agile/Scrum &nbsp;|&nbsp; REST APIs &nbsp;|&nbsp; Cross-browser Compatibility &nbsp;|&nbsp; Performance 
                    Optimization &nbsp;|&nbsp; Unit Testing &nbsp;|&nbsp; UI/UX Design Principles &nbsp;|&nbsp; HTML5 &nbsp;|&nbsp; Accessibility (WCAG) 
                </div>
            </accordion-group>
            <accordion-group [(isOpen)]="isSoftSkillsOpen">
                <button class="flex flex-row justify-between w-full items-center p-1 px-3" accordion-heading>
                    <div class="invisible">></div>
                    <h2>Soft Skills</h2>
                    <div>
                        @if (!isSoftSkillsOpen) {
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-auto" viewBox="0 0 448 512"><path d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"/></svg>
                        }
                        @if (isSoftSkillsOpen) {
                            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-auto" viewBox="0 0 448 512"><path d="M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/></svg>
                        }
                    </div>
                </button>
                <div class="text-lg p-2">
                    Process Improvement &nbsp;|&nbsp; Attention to Detail &nbsp;|&nbsp; Written and Verbal Communication &nbsp;|&nbsp; Organization &nbsp;|&nbsp; Flexibility &nbsp;|&nbsp; Interpersonal Skills &nbsp;|&nbsp;
                    Cross-Functional Collaboration &nbsp;|&nbsp; Team Cooperation &nbsp;|&nbsp; Reporting and Budgeting &nbsp;|&nbsp; Data Analysis &nbsp;|&nbsp; Software and Hardware 
                    Troubleshooting &nbsp;|&nbsp; Jira &nbsp;|&nbsp; Confluence &nbsp;|&nbsp; Office 365 &nbsp;|&nbsp; Teams &nbsp;|&nbsp; Slack
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>