/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to left top, darkorange, rgb(220 38 38), rgb(112 26 117));
    font-family: "Kanit", serif;
    font-style: normal;
}