/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
    background: #1b1b1b url("/portfolio_wolf_bg_minimalist.jpg") no-repeat top center;
    background-size: cover;
    background-position: fixed;
    font-family: "Kanit", serif;
    font-style: normal;
}

.blur-card {
    background: none;
    backdrop-filter: blur(70px);
    border: 2px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3) !important;
}

.tag {
    padding: 0 20px;
    height: 30px;
    width: fit-content;
    font-size: 14px;
    line-height: 30px;
    border-radius: 25px;
    background-color: #8a2be2;
    color: white;
}

.collapse.show {
    visibility: visible;
}

.collapse {
    visibility: hidden;
}

ul {
    list-style-type: square;
}

ul li {
    padding: 5px;
    margin-left: 30px;
}