<article class="content gap-x-8 items-center justify-between h-full">
    <div class="mobile-column gap-x-12 gap-y-12 z-0 flex h-full w-full p-8 xl:p-32 lg:p-24 md:p-16 sm:p-12 !pt-0 md:!pt-16 sm:!pt-16">
        <!-- Featured Project -->
        <div class="flex-1">
            <div class="text-center">
                <h2 class="text-5xl mb-4">{{featuredProject.name}}</h2>
                <carousel>
                    <div>
                        @for (picture of featuredProject.pictures; track $index) {
                            <slide><img class="block w-full" src={{picture}} alt="slide"></slide>
                        }
                    </div>
                </carousel>
                <p class="mt-2">{{featuredProject.summary}}</p>
                <p>Visit the Portfolio section to learn more!</p>
            </div>
        </div>
        <!-- Short About -->
        <div class="blur-card flex-1 self-center items-center border-2 border-[#F5F5F5]/[.10] rounded-2xl p-8">
            <h1 class="text-6xl font-semibold">Connecting Designs and Ideas with Structured, Readable Code</h1>
            <p class="my-5 text-lg">Dependable and friendly web application developer, software developer, and IT professional with 4+ years of experience in creating responsive user interfaces using TypeScript, React, and Angular. Proficient in implementing user-centric designs and optimizing user experiences across various devices. Skilled in agile methodologies, cross-functional collaboration, and DevOps practices. Demonstrated ability to manage projects, meet deadlines, and drive sales through effective customer service and product knowledge.</p>
            <button routerLink="/resume" class="flex flex-row gap-x-2 p-2.5 pl-6 pr-4 border-2 border-[--bcolor] rounded-lg font-semibold text-xl">
                Resume <svg class="h-6 w-6 pt-1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="32" height="32" viewBox="0 0 16 16"><path d="M 9 2 L 9 3 L 12.292969 3 L 6.023438 9.273438 L 6.726563 9.976563 L 13 3.707031 L 13 7 L 14 7 L 14 2 Z M 4 4 C 2.894531 4 2 4.894531 2 6 L 2 12 C 2 13.105469 2.894531 14 4 14 L 10 14 C 11.105469 14 12 13.105469 12 12 L 12 7 L 11 8 L 11 12 C 11 12.550781 10.550781 13 10 13 L 4 13 C 3.449219 13 3 12.550781 3 12 L 3 6 C 3 5.449219 3.449219 5 4 5 L 8 5 L 9 4 Z"></path></svg>
            </button>
        </div>
    </div>
</article>

